body{

}
 .row
 {
   margin: auto;
 }
.conatiner
{
  margin-left: 5%;
  margin-top: 3%;
}
.photo
{
  height: auto;
  display: inline;
  height: 150px;
}
.headings
{
  color: #387BBA;
}
.indentation
{
  margin-left:15px;
}
li
{
  margin-left: 1em;
  padding-left:1.5em ;
}
.certidetails
{
  margin-left: 1em;
  margin-bottom: 0rem;
  padding-left:1.5em;
  color: #A6A6A6;
  size :13.333px;
}
tr
{
padding-bottom: 2em;

}
.o
{
  color: #FEA47F;
}
.sub
{
  font-size: 10px;
  margin-bottom: .2rem;
}
.discription
{

  color: #A6A6A6;
}
.last
{
  text-align: right;
  padding-right:  2%;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
